/* Heading / Content Section */
.featured-image-wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.blog-featured-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.section-para-center {
    max-width: 800px;
    margin: 20px auto 0;
}
