/* ==============================
Home Skills Section
   ============================== */
#home-skills {
    position: relative;
    overflow: hidden;
}

#home-skills .skills-bg {
    background-color: var(--primary-color);
    padding: 1rem 0;
}

#home-skills .skills-bg:before {
    content: "";
    background-color: var(--theme-color);
    display: block;
    width: 110%;
    height: 40px;
    position: absolute;
    z-index: -1;
    left: -5%;
    overflow: hidden;
    transform: rotate(-3deg);
    top: 60px;
}

#home-skills .skills-slider .swiper-wrapper {
    align-items: center;
    transition-timing-function: linear !important;
}

#home-skills .skills-slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    flex: 0 0 auto;
    text-align: left;
    position: relative;
}

#home-skills .skills-slider .swiper-slide span {
    font: var(--body-font);
    color: var(--white-color);
    font-weight: 600;
    white-space: nowrap;
}

#home-skills .skills-slider .swiper-slide picture {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#home-skills .skills-slider .swiper-slide img {
    /* filter: brightness(0) invert(1); */
}

/* Mobile Landscape (576px – 767px) */
@media (max-width: 767px) {


    #home-skills .skills-bg:before {
        height: 80px;
        top: 39px;
    }
}